#sidebar {
  padding: 20px;
  min-width: 300px;
  max-width: 300px;
  min-height: 85vh;
  background-color: rgb(185, 185, 185);
}

.rond{
  border-radius: 50px;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.btn-dark{
  display: block;
  margin: auto;
  margin-top : 20px;
}
