.map{
  background-color: rgb(231, 209, 209);
  width: calc(100vw - 300px);
  float: right;
  min-height: 85vh;
  display: flex;
}

#map-mapbox{
  top: 0;
  bottom: 0px;
  width: 100%;
}

.validation{
  display: block;
  height: 40px;
  color : white;
  background-color: rgb(77, 9, 40);
  width: 100%;
  border: none;
  border-radius: 0;
}
